@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
    font-size: 16px;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(35, 193, 255);
}

.container {
    background-image: url("brooke-lark-4J059aGa5s4-unsplash_medium.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    min-width: 500px;
    max-width: 1400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

.pre-nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
}

.logo,
.ctc {
    color: #026E78;
    font-weight: bold;
}

nav {
    padding: 0.5rem 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

nav li {
    flex: 1 auto;


}

nav li a {
    background-color: #2D99A4;
    padding: 1rem 2rem;
    display: block;
    text-align: center;
    border-style: solid;
    border-color: #014e55;
    font-size:1.3rem;


}

nav a.active {
    background-color: white;
    color: #2D99A4;
    font-weight: bold;
}

nav a.highlight {
    background-color: #026e78;
    color: #fff;
}

nav a:hover {
    opacity: 0.7;
}

.content {
    /* background-color: purple; */
    display: flex;
    /* flex:1; */
    flex-direction: column;
    ;
    margin-top: 5rem;
    align-items: flex-start;
    font-size: 2rem;
}

.content h1 {
    background-color: #026e78;
    color: white;
    padding: 1rem;
    display: inline-block;
    font-weight: 200;
}

.white-link {
    background-color: #fff;
    color: #2d99a4;
    padding: 1rem;
    margin-top: 2rem;
}

.teal-link {
    background-color: #2d99a4;
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;

}


/* !    Responsive Media Queries */

@media screen and (max-width: 768px) {
.pre-nav{
    flex-direction:column;
    justify-content:center;
}

.content{
    font-size:1.5rem;
}


nav ul{
    /* flex-direction:column; */
}
} 